#{extends 'main.html' /}
#{set title:'About' /}

<nav class="ui inverted blue menu">
  <a class="ui item" href="/">WitPress</a>
  <a class="ui item" href="/blog">Blog</a>
  <a class="ui item" href="publicblogdirectory">Public Blog Directory</a> 
  <a class="ui active item" href="/about">About</a> 
  <a class="ui item" href="/contact">Contact</a>
</nav>


<div class="ui grid">
   <div class="ten wide column">
   <img class="ui medium image" src="/public/images/press.jpg">
    <div class="ui raised segment">
     <h2>WIT PRESS</h2>
    <h4> <p> <i> witpress, is a prototype web application that allows an authenticated user to manage blog posts and comments on posts. </i> </p> </h4>
     <h4> <p> <i> An authenticated user may create a blog post, delete from its existing list of posts, add comments and access the public blog directory. </i> </p> </h4>
    
    <h1>Copyright 2016 WitPress All rights reserved.</h1>
    </div>
  </div>
</div>