#{extends 'main.html' /} #{set title:'Get Started Login for witpress' /}
<nav class="ui inverted blue menu">
  <a class="ui active item" href="/">WitPress</a>
</nav>

<div class="ui one column grid">
  <div class="ten wide column">
    <form action="/signup" method="GET">
      <div class="ui segment">
        <div class="ui segment">
          <button type="submit" class="ui massive blue button">
            Get Started - sign up here</button>
        </div>
      </div>
    </form>
    <form action="/authenticate" method="POST">
      <div class="ui segment">
        If already registered log in and begin publishing..
        <div class="ui fluid form segment">
        <div class="field">
          <div class="ui left icon input field">
            <input placeholder="Email" name="email" type="text">
          <i class="user icon"></i>
          </div>
          </div>
          <div class="field">
          <div class="ui left icon input field">
            <input placeholder="Password" type="password" name="password">
          <i class="lock icon"></i>
          </div>
          </div>
          <button type="submit" class="ui blue submit button">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>